@mixin respond_to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $min-width: map-get($breakpoints, $breakpoint);

    @if ($breakpoint == 'xs') {
      @content;
    } @else {
      @media (min-width: #{$min-width}) {
        @content;
      }
    }
  } @else {
    @warn "The breakpoint is not supported";
  }
}

@mixin generate_css($prefix, $properties...) {
  @each $breakpoint, $breakpoint-size in $breakpoints {
    $check: if($breakpoint == xs, '', #{$breakpoint}\:);

    @include respond_to($breakpoint) {
      @each $property in $properties {
        $property-name: nth($property, 1);
        $property-value: nth($property, 2);

        @if type-of($property-value) == 'map' {
          @each $key, $value in $property-value {
            $selector: '.#{$check}#{$prefix}-#{$key}';
            @each $pseudo-class, $pseudo-selector in $pseudos {
              $selector: '#{$selector}, .#{$check}#{$pseudo-class}\\:#{$prefix}-#{$key}#{$pseudo-selector}';
            }
            #{$selector} {
              #{$property-name}: $value;
            }
          }
        } @else {
        }
      }
    }
  }
}
