* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 400 600;
  font-family: Inter;
  src: url('../assets/fonts/Inter.woff2') format('woff2');
}

html,
button {
  font-size: 62.5%;
  font-kerning: normal;
  font-smooth: always;
  scroll-behavior: smooth;
  font-family: $base-font-family;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures contextual;
  font-variant-numeric: oldstyle-nums proportional-nums;
  font-feature-settings: 'ss03' 1, 'kern', 'liga' 1, 'clig', 'calt' 1, 'cv10' 1;
}

body.portal {
  overflow-y: hidden;
}
