* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  font-family: InterVariable;
  src: url('../assets/fonts/Inter.woff2') format('woff2');
}

html {
  line-height: inherit;
  letter-spacing: -0.05em;
  font-family: $base-font-family;
  font-size: $base-font-percentage;
  font-feature-settings: 'cv10' 1;
}
