$colors: (
  none: none,
  current: currentColor,
  inherit: inherit,
  black: #000000,
  white: #ffffff,
  primary: #2ecee3,
  yellow: #e8c31f,
  red: #ea2222,
  blue: #2851e7,
  gray: #878585,
  orange: #e36f27,
  transparent: transparent,
);

@include generate_css('text', shades($colors), color);
@include generate_css('bg', shades($colors), background-color);
@include generate_css('border', shades($colors), border-color);
