$self: (auto, start, end, center, stretch);
$items: (start, end, center, stretch);
$content: (
  normal: normal,
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
  stretch: stretch,
);

@include generate_css('justify-self', $self, justify-self);
@include generate_css('justify-items', $items, justify-items);
@include generate_css('justify-content', $content, justify-content);
