$containers: (
  xs: 448px,
  sm: 740px,
  md: 992px,
  lg: 1140px,
  xl: 1240px,
);

$display: (
  grid: grid,
  flex: flex,
  block: block,
  table: table,
  hidden: none,
  inline: inline,
  inline-grid: inline-grid,
  inline-flex: inline-flex,
  inline-block: inline-block,
);

$object-fits: (
  fit: fit,
  cover: cover,
  contain: contain,
  scale-down: scale-down,
);

$position: (
  fixed: fixed,
  sticky: sticky,
  static: static,
  relative: relative,
  absolute: absolute,
);

$move: (
  0: 0px,
  '4xs': 1px,
  '3xs': 2px,
  '2xs': 4px,
  'xs': 6px,
  'sm': 8px,
  'md': 12px,
  'lg': 16px,
  'xl': 20px,
  '2xl': 24px,
  '3xl': 32px,
  '4xl': 40px,
  '5xl': 48px,
  '6xl': 56px,
  '7xl': 64px,
  '8xl': 80px,
  '9xl': 96px,
  '10xl': 120px,
);

$visibility: (
  visible: visible,
  invisible: hidden,
  collapse: collapse,
);

$z-index: (
  0: 0,
  10: 1,
  20: 2,
  30: 3,
  40: 4,
  50: 5,
  max: 9999,
  auto: auto,
);

@include generate_css('z', $z-index, z-index);
@include generate_css('v', $visibility, visibility);
@include generate_css('d', $display, display);
@include generate_css('position', $position, position);
@include generate_css('container', $containers, max-width);
@include generate_css('top', $move, top);
@include generate_css('left', $move, left);
@include generate_css('right', $move, right);
@include generate_css('bottoms', $move, bottom);
