$containers: (
  min: 30rem,
  xxs: 40rem,
  xs: 60rem,
  sm: 75rem,
  md: 94rem,
  lg: 120rem,
  xl: 134rem,
  full: 100%,
);

@include generate_css('container', $containers, max-width);

$display: (
  grid: grid,
  flex: flex,
  block: block,
  table: table,
  hidden: none,
  inline: inline,
  inline-grid: inline-grid,
  inline-flex: inline-flex,
  inline-block: inline-block,
);

@include generate_css('display', $display, display);

$object-fits: (
  fit: fit,
  cover: cover,
  contain: contain,
  scale-down: scale-down,
);

@include generate_css('object-fit', $object-fits, object-fit);

$position: (
  fixed: fixed,
  sticky: sticky,
  static: static,
  relative: relative,
  absolute: absolute,
);

@include generate_css('position', $position, position);

$move: (
  0: 0rem,
  '4xs': 0.1rem,
  '3xs': 0.2rem,
  '2xs': 0.4rem,
  'xs': 0.6rem,
  'sm': 0.8rem,
  'md': 1.2rem,
  'lg': 1.6rem,
  'xl': 2rem,
  '2xl': 2.4rem,
  '3xl': 3.2rem,
  '4xl': 4rem,
  '5xl': 4.8rem,
  '6xl': 5.6rem,
  '7xl': 6.4rem,
  '8xl': 8rem,
  '9xl': 9.6rem,
  '10xl': 12rem,
);

@include generate_css('top', $move, top);
@include generate_css('left', $move, left);
@include generate_css('right', $move, right);
@include generate_css('bottom', $move, bottom);

$visibility: (
  visible: visible,
  invisible: hidden,
  collapse: collapse,
);

@include generate_css('v', $visibility, visibility);

$z-index: (
  min: 0,
  10: 1,
  20: 2,
  30: 3,
  40: 4,
  50: 5,
  max: 9999,
  auto: auto,
);

@include generate_css('z', $z-index, z-index);

$opacity: (
  0: 0,
  10: 0.1,
  20: 0.2,
  30: 0.3,
  40: 0.4,
  50: 0.5,
  60: 0.6,
  70: 0.7,
  80: 0.8,
  90: 0.9,
  100: 1,
);

@include generate_css('opacity', $opacity, opacity);

$aspect-ratio: (
  1\/1: '1/1',
  1\/2: '1/2',
  2\/1: '2/1',
  3\/1: '3/1',
  3\/2: '3/2',
  4\/1: '4/1',
  4\/3: '4/3',
  5\/4: '5/4',
  9\/16: '9/16',
  14\/9: '14/9',
  16\/7: '16/7',
  16\/9: '16/9',
  16\/10: '16/10',
  auto: 'auto'
);

@include generate_css('aspect-ratio', $aspect-ratio, aspect-ratio);
