$values: (
  // 1 rem is equivalent to 10px
  min: 0rem,
  auto: auto,
  4xs: 0.1rem,
  3xs: 0.2rem,
  2xs: 0.4rem,
  xs: 0.6rem,
  sm: 0.8rem,
  md: 1.2rem,
  lg: 1.6rem,
  xl: 2rem,
  2xl: 2.4rem,
  3xl: 3.2rem,
  4xl: 4rem,
  5xl: 4.8rem,
  6xl: 5.6rem,
  7xl: 6.4rem,
  8xl: 8rem,
  9xl: 9.6rem,
  10xl: 11.2rem,
  11xl: 13.6rem,
  12xl: 16rem,
  max: 19.2rem
);

// paddings
@include generate_css('p', $values, padding);
@include generate_css('pt', $values, padding-top);
@include generate_css('pb', $values, padding-bottom);
@include generate_css('ps', $values, padding-left);
@include generate_css('pe', $values, padding-right);
@include generate_css('px', $values, (padding-left, padding-right));
@include generate_css('py', $values, (padding-top, padding-bottom));

// margins
@include generate_css('m', $values, margin);
@include generate_css('mt', $values, margin-top);
@include generate_css('mb', $values, margin-bottom);
@include generate_css('ms', $values, margin-left);
@include generate_css('me', $values, margin-right);
@include generate_css('mx', $values, (margin-left, margin-right));
@include generate_css('my', $values, (margin-top, margin-bottom));

// space-between
@include generate_css('space-x', $values, margin-right, ' > :not(:last-child)');
@include generate_css(
  'space-y',
  $values,
  margin-bottom,
  ' > :not(:last-child)'
);

// gaps
@include generate_css('gap', $values, gap);
@include generate_css('gap-y', $values, row-gap);
@include generate_css('gap-x', $values, column-gap);
