$font-sizes: (
  10: (
    font-size: 1rem,
    line-height: 1.4,
    letter-spacing: normal,
  ),
  12: (
    font-size: 1.2rem,
    line-height: 1.4,
    letter-spacing: normal,
  ),
  13: (
    font-size: 1.3rem,
    line-height: 1.4,
    letter-spacing: normal,
  ),
  14: (
    font-size: 1.4rem,
    line-height: 1.4,
    letter-spacing: normal,
  ),
  16: (
    font-size: 1.6rem,
    line-height: 1.5,
    letter-spacing: -0.005em,
  ),
  17: (
    font-size: 1.7rem,
    line-height: 1.35,
    letter-spacing: -0.006em,
  ),
  19: (
    font-size: 1.9rem,
    line-height: 1.25,
    letter-spacing: -0.007em,
  ),
  21: (
    font-size: 2.1rem,
    line-height: 1.2,
    letter-spacing: -0.009em,
  ),
  25: (
    font-size: 2.5rem,
    line-height: 1.2,
    letter-spacing: -0.01em,
  ),
  32: (
    font-size: 3.2rem,
    line-height: 1.2,
    letter-spacing: -0.015em,
  ),
  40: (
    font-size: 4rem,
    line-height: 1.2,
    letter-spacing: -0.03em,
  ),
  48: (
    font-size: 4.8rem,
    line-height: 1.2,
    letter-spacing: -0.03em,
  ),
  56: (
    font-size: 5.6rem,
    line-height: 1.15,
    letter-spacing: -0.03em,
  ),
  64: (
    font-size: 6.4rem,
    line-height: 1.1,
    letter-spacing: -0.03m,
  ),
  72: (
    font-size: 7.2rem,
    line-height: 1.1,
    letter-spacing: -0.015em,
  ),
  80: (
    font-size: 8rem,
    line-height: 1.05,
    letter-spacing: -0.03em,
  ),
  96: (
    font-size: 9.6rem,
    line-height: 0.95,
    letter-spacing: -0.025em,
  ),
  inherit: (
    font-size: inherit,
    line-height: inherit,
    letter-spacing: inherit,
  ),
);

@include generate_css('text', $font-sizes, font-size);

$font-weights: (
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 880,
  900: 900,
);

@include generate_css('weight', $font-weights, font-weight);

$text-aligns: (
  left: left,
  right: right,
  center: center,
  justify: justify,
);

@include generate_css('text', $text-aligns, text-align);

$text-transforms: (
  lowercase: lowercase,
  uppercase: uppercase,
  capitalize: capitalize,
);

@include generate_css('text', $text-transforms, text-transform);

$vertical-aligns: (
  top: top,
  sub: sub,
  super: super,
  middle: middle,
  bottom: bottom,
  text-top: text-top,
  baseline: baseline,
  text-bottom: text-bottom,
);

@include generate_css('vertical', $vertical-aligns, vertical-align);

$decorations: (
  underline: underline,
  through: line-through,
  overline: overline,
  none: none,
  auto: auto,
  current: currentColor,
);

@include generate_css('text', $decorations, text-decoration);
