$base-font-family: InterVariable, Helvetica, Arial, sans-serif;
$base-font-percentage: 62.5%;

$breakpoints: (
  'xs': 0px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);

$pseudos: (
  hover: ':hover',
  focus: ':focus',
  active: ':active',
);

$max-width: 100vw;
$max-height: 100vh;
