$base-font-family: Inter, sans-serif;
$base-font-percentage: 62.5%;

$breakpoints: (
  'xs': 0rem,
  // extra small devices >= 0px
  'sm': 48rem,
  // small devices >= 768px
  'md': 77.5rem,
  // medium devices >= 1240px
  'lg': 90rem,
  // large devices >= 1440px
  'xl': 120rem,
  // extra large devices >= 1920px
);

$pseudos: (
  hover: ':hover',
  focus: ':focus',
  active: ':active',
);

$max-width: 100vw;
$max-height: 100vh;
